@import "tailwindcss";

@font-face {
    font-family: eras-demi;
    src: url('/fonts/eras_demi.otf');
}

@font-face {
    font-family: roboto-bold;
    src: url('/fonts/roboto-bold.ttf');
}

@font-face {
    font-family: roboto-extrabold;
    src: url('/fonts/roboto-extrabold.ttf');
}

@font-face {
    font-family: roboto-extralight;
    src: url('/fonts/roboto-extralight.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('/fonts/roboto-light.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('/fonts/roboto-medium.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('/fonts/roboto-regular.ttf');
}

@font-face {
    font-family: roboto-semibold;
    src: url('/fonts/roboto-semibold.ttf');
}

@font-face {
    font-family: roboto-thin;
    src: url('/fonts/roboto-thin.ttf');
}

@theme {
    --font-eras-demi: eras-demi;

    --font-roboto-black: roboto-black;
    --font-roboto-bold: roboto-bold;
    --font-roboto-extrabold: roboto-extrabold;
    --font-roboto-extralight: roboto-extralight;
    --font-roboto-light: roboto-light;
    --font-roboto-medium: roboto-medium;
    --font-roboto-regular: roboto-regular;
    --font-roboto-semibold: roboto-semibold;
    --font-roboto-thin: roboto-thin;
}
